<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title><%=title%></title>
<!--
<link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicons/favicon-16x16.png">
-->
<link rel="manifest" href="../public/images/favicons/site.webmanifest">

<!-- plugin scripts -->

<link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:200,300,400,400i,500,600,700,800,900%7CSatisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../public/css/animate.min.css">
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/owl.carousel.min.css">
<link rel="stylesheet" href="../public/css/owl.theme.default.min.css">
<link rel="stylesheet" href="../public/css/magnific-popup.css">
<link rel="stylesheet" href="../public/css/fontawesome-all.min.css">
<link rel="stylesheet" href="../public/css/swiper.min.css">
<link rel="stylesheet" href="../public/css/bootstrap-select.min.css">
<link rel="stylesheet" href="../public/css/tripo-icons.css">
<link rel="stylesheet" href="../public/css/jquery.mCustomScrollbar.min.css">
<link rel="stylesheet" href="../public/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="../public/css/vegas.min.css">
<link rel="stylesheet" href="../public/css/nouislider.min.css">
<link rel="stylesheet" href="../public/css/nouislider.pips.css">

<script src='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />

<!-- template styles -->
<link rel="stylesheet" href="../public/css/style.css">
<link rel="stylesheet" href="../public/css/responsive.css">