<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found | Travel Yug</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="../public/images/favicons/site.webmanifest">

    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,400i,500,600,900%7CSatisfy&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../public/css/animate.min.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">

    <!-- template styles -->
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/responsive.css">
</head>

<body>
    <div class="preloader">
        <img src="../public/images/loader.png" class="preloader__image" alt="">
    </div><!-- /.preloader -->
    <div class="page-wrapper">
        <div class="error-page text-center">
            <div class="error-page__bg" style="background-image: url(../public/images/backgrounds/palms.png);">
            </div>
            <div class="container">
                <a href="index.html" class="error-page__logo"><i class="fas fa-map-marked-alt"></i></a>
                <div class="error-page__title">
                    <h2>404</h2>
                    <p>ошибка</p>
                </div><!-- /.error-page__title -->
                <div class="error-page__text">
                    <p>Извините, мы не смогли найти страницу которую вы ищете.</p>
                </div><!-- /.error-page__text -->
                <a href="/" class="err-btn">Вернуться на главную страницу</a><!-- /.thm-btn -->
            </div><!-- /.container -->
        </div><!-- /.error-page -->
    </div><!-- /.page-wrapper -->
    <%- include('blocks/footer404.ejs') -%>
</body>

</html>